/* Main CSS file */

/***** universial *****/

* {
    box-sizing: border-box;
}

.brand {
    font-family: 'Enriqueta', serif;
    font-size: 2rem
}

.mainImage {
    width: 100%;
    margin: 5px auto;
}

.donate {
    font-size: 1.25rem;
}

.signuptohelp {
    margin-bottom: 25px;
}

.uofl {
    color:#f11616;
}

/**********  Footer  **********/

footer {
    text-align: center;
    margin: auto;
    background-color: #f11616;
    height: 50px;
}

footer a {
    list-style: none;
    color: black;
}

footer a:hover {
    color: white;
}

/**********  Media  **********/

@media (min-width: 720px) {

    .mainImage {
        display: flex;
        align-self: center;
        width: 50%;
        margin: 25px auto;
    }

    .jumbotron p {
        margin: 20px 30px;
    }

}

@media (min-width: 850px) {}
